.catalog {

    &__item {
        border-radius: 30px;
        padding: 20px;
        background-color: #fff;
        box-shadow: 0px 16px 16px 0px rgba(34, 34, 34, 0.184);

        &-img {
            width: 100%;
            @include adaptive-height(200, 100);
            object-fit: cover;
            border-radius: 15px;
            @include adaptive-marginBottom(20, 10);
        }

        &-category {
            font-family: MontserratSemiBold;
            border: 1px solid $mainColor;
            padding: 2px 7px;
            border-radius: 15px;
            @include adaptive-font(14, 7);
            color: $mainColor;
            margin-bottom: 10px;
            display: inline-block;
        }

        &-name {
            font-family: MontserratSemiBold;
            @include adaptive-font(20, 14);
            margin-bottom: 10px;
        }

        &-description {
            font-family: MontserratRegular;
            @include adaptive-font(16, 10);
            margin-bottom: 10px;
        }

        &-composition {
            margin-bottom: 10px;

            &_title {
                font-family: MontserratSemiBold;
                @include adaptive-font(16, 10);
                margin-bottom: 5px;
            }

            &_text {
                font-family: MontserratRegular;
                @include adaptive-font(16, 10);
            }
        }

        &-weight {
            font-family: MontserratRegular;
            @include adaptive-font(16, 10);
            margin-bottom: 10px;
        }

        &-price {
            font-family: MontserratBold;
            @include adaptive-font(24, 18);
            margin-bottom: 10px;
        }

        &-btn {
            width: 100%;
            background-color: transparent;
            border: 1px solid $mainColor;
            color: $mainColor;

            &:hover {
                background-color: $mainColor;
                border: 1px solid $mainColor;
                color: #fff;
            }
        }

    }
}