.reviews {
    background-color: #fff;

    &__wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &__item {
        padding: 20px;
        border-radius: 20px;
        box-shadow: 0px 16px 16px 0px rgba(34, 34, 34, 0.184);
        background: rgb(246, 250, 253);

        &-person {
            display: flex;
            align-items: center;
            @include adaptive-marginBottom(20,10);
        }

        &-photo {
            @include adaptive-width(70,40);
            @include adaptive-height(70,40);
            border-radius: 50%;
            margin-right: 20px;
        }

        &-name {
            font-family: MontserratSemiBold;
            @include adaptive-font(18, 10);
        }

        &-title {
            font-family: MontserratSemiBold;
            @include adaptive-font(16, 10);
            @include adaptive-marginBottom(20,10);
        }

        &-text {
            font-family: MontserratRegular;
            @include adaptive-font(14, 9);
        }
    }
}